.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-image: url('../images/background_light.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.background-linus {
  background-image: url('../images/background_light_linus.png');
  background-repeat: no-repeat;
  background-size: cover;
}

md-content {
  background: none;
}

h2 {
  color: #fff;
  font-size: 4vw;
  margin: 0;
}

md-content h2{
  color: #0098d8;
}

#connect_error {
  color: #fff;
  background-color: red;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3px;
}

#signup, #signup h2, #signup button{
  font-size: 200%;
}
#signup button{
  line-height: 72px;
}

.indicator {
  background-color: #B8B8B8;
  color: #D9D9D9;
  border-radius:  3vw;
  width:  6vw;
  height:  6vw;
  line-height:  6vw;
  font-size:  3.5vw;
  font-weight: bold;
  text-align: center;
  margin-left: 1vw;

}

.indicator.active{
  background-color: #0098d8;
  color: #fff;
}

.guide {
  font-size: 2.5vw;
  padding: 1em;
}

.guide iframe{
  border: none;
  min-height: 40vh;
  width: 100%;
}

.guide-end{
  padding: 2em 0 2em 2em;
}

.guide .header {
  margin-bottom: 1em;
}

.blue-background {
  background-color: #ECF4FC;
}


.text-right {
  text-align: right;
  padding-right: 40px;
}

.table .header {
  border-bottom: 1px solid #e5e5e5;
  padding: 5px;
  font-weight: bold;
}

.table .row {
  border-bottom: 1px solid #e5e5e5;
  padding: 5px;
}

.table .row:nth-child(odd){
  background-color: #f5f5f5;
}

#scoreboard .header {
  color: #fff;
  font-size: 38px;
}
#scoreboard .row {
  height: 70px;
  line-height: 70px;
  font-size: 38px;
}

#scoreboard .row.ng-enter {
    animation: show 4s;
}

#scoreboard .row.ng-leave {
    animation: hide 1s;
}


@keyframes show {
  0% {
    height: 0;
    opacity: 0;
  }

  33% {
    height: 150px;
    opacity: 1;
    font-size: 300%;
    line-height: 150px;
  }

  66% {
    height: 150px;
    font-size: 300%;
    line-height: 150px;
  }

  100% {
    height: 70px;
    font-size: 38px;
    line-height: 70px;
  }
}

@keyframes hide {
  0% {
    height: 70px;
    font-size: 100%;
    line-height: 70px;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

.info > div {
  background-color: #0098d8;
  color: white;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  position: relative;
  line-height: 100px;
  margin: 0 20px;
}

.info > div > span {
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

#menu-button {
  position: absolute;
  top: 0;
  right: 0;
}

#init {
  background-image: url('../images/boarding_intro.png');
  background-repeat: no-repeat;
  background-size: cover;
}


.wheel {
  background-image: url('../images/background_light.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.wheel h2 {
  color: #fff;
}

.wheel-background {
  background-image: url('../images/background.png');
}

#linus {
  background-image: url('../images/linus.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 682px;
  height: 1006px;
  bottom: 0;
  left: 0;
}

#linus.small{
  width: 545px;
  height: 804px;
}

.slideshow .fade{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  position: absolute;
}

.fade.ng-hide-remove, .fadein.ng-hide-remove{
  transition: 1s linear all;
  opacity: 0;
}

.fade.ng-hide-remove-active, .fadein.ng-hide-remove-active {
  opacity: 1;
}

.fade.ng-hide-add{
  transition: 1s linear all;
  opacity: 1;
}

.fade.ng-hide-add-active {
  opacity: 0;
}


.won {
    position: absolute;
    top: 30%;
    background-color: #0098d8;
    box-shadow: 0 0 110px 0 rgba(0, 0, 0, 0.75);
    padding: 1em;
    left: 0;
    margin-left: 15%;
    margin-right: 15%;
    color: #fff;
    width: 60%;
    text-align: center;
}

.flag{
    padding: 0 10px;
    height: 70px;
    position: relative;
    display: inline-block;
}

.flag img{
    height: 60px;
}

.flag .wrong, .flag .correct, .flag .unknown{
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
    right: 5px;
    z-index: 101;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.flag .wrong{
    background-color: #dc1616;
    background-image:  url('../images/delete102.png');
}

.flag .correct{
    background-color: #338800;
    background-image:  url('../images/checked21.png');

}

.flag .unknown{
    background-color: #ccc;
    background-image:  url('../images/Question_mark_512.png');

}