<!doctype html>
<html>
  <head>
    <base href="/frontend/">
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/angular-color-picker/dist/angularjs-color-picker.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="gestionairFrontendApp" layout="column" flex ng-controller="MainCtrl as main" ng-keypress="main.handleKeyPress($event)">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div layout="row" layout-fill ng-if="main.api.isSlideshowVisible" style="background-color: black;">
      <slideshow images="main.api.config.slideshow" duration="main.api.config.slideshow_timer"></slideshow>
    </div>
    <md-content flex layout="column">
      <md-button aria-label="menu" id="menu-button" ng-click="main.toggleLeftMenu()" class="md-icon-button md-primary" ng-if="main.mode=='dashboard'">
        <md-icon md-svg-icon="images/ic_settings_black_48px.svg"></md-icon>
      </md-button>
      <div id="connect_error" ng-hide="main.api.isConnected" ng-bind="main.api.config.connection_error"></div>
      <div ng-view="" flex layout="column"></div>
    </md-content>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="left" ng-cloak="">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools" ng-bind="main.api.config.menu">Menu</h1>
      </md-toolbar>
      <md-content layout-padding>
        <md-list>
          <md-list-item>
            <md-button ng-href="boarding" ng-click="main.toggleLeftMenu()" ng-bind="main.api.config.boarding">Boarding</md-button>
          </md-list-item>
          <md-list-item>
            <md-button ng-href="wheel" ng-click="main.toggleLeftMenu()" ng-bind="main.api.config.wheel">Wheel</md-button>
          </md-list-item>
          <md-list-item>
            <md-button ng-href="scores" ng-click="main.toggleLeftMenu()" ng-bind="main.api.config.scores">Scores</md-button>
          </md-list-item>
          <md-list-item>
            <md-button ng-href="dashboard" ng-click="main.toggleLeftMenu()" ng-bind="main.api.config.dashboard">Dashboard</md-button>
          </md-list-item>
          <md-list-item>
            <md-button class="md-warn"  ng-click="main.logout()" ng-bind="main.api.config.logout">Logout</md-button>
          </md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/Snap.svg/dist/snap.svg-min.js"></script>
    <script src="bower_components/stomp-websocket/lib/stomp.min.js"></script>
    <script src="bower_components/sockjs-client/dist/sockjs.js"></script>
    <script src="bower_components/tinycolor/tinycolor.js"></script>
    <script src="bower_components/angular-color-picker/dist/angularjs-color-picker.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/wheel.js"></script>
    <script src="scripts/controllers/dashboard.js"></script>
    <script src="scripts/controllers/scores.js"></script>
    <script src="scripts/controllers/boarding.js"></script>
    <script src="scripts/services/api.js"></script>
    <script src="scripts/directives/wheel.js"></script>
    <script src="scripts/services/sim.js"></script>
    <script src="scripts/directives/code.js"></script>
    <script src="scripts/directives/slideshow.js"></script>
    <script src="scripts/directives/flag.js"></script>
    <!-- endbuild -->
</body>
</html>
