
<div ng-show="boarding.state == 'INIT'" id="init" flex ng-click="boarding.state = 'FORM'"></div>
<div ng-show="boarding.state == 'FORM'" layout="row" flex layout-align="center center" class="background-linus">
	<form ng-submit="boarding.board()" name="boardingForm">
	<md-card>
		<md-card-content>
			<h2 class="md-title" ng-bind="main.api.config.signup">Sign Up</h2>
			<md-input-container>
				<label ng-bind="main.api.config.name">Name</label>
				<input name="name" ng-model="boarding.player.name" required>
				<div ng-messages="boardingForm.name.$error">
					<div ng-message="required" >{{main.api.config.name_required}}</div>
				</div>
			</md-input-container>
			<md-input-container>
				<label ng-bind="main.api.config.email">Email</label>
				<input type="email" ng-model="boarding.player.email">
			</md-input-container>
			<md-input-container ng-if="main.api.config.showZipCode !== 'false'">
				<label ng-bind="main.api.config.zip_code">Zip Code</label>
				<input type="text" ng-model="boarding.player.npa">
			</md-input-container>
		</md-card-content>
		<md-card-actions layout="row" layout-align="end center">
			<md-button type="submit" class="md-primary" ng-bind="main.api.config.play">Play</md-button>
		</md-card-actions>
	</md-card>
	</form>
</div>
<div ng-show="boarding.state == 'GUIDE1'" flex layout="column" ng-click="boarding.state = 'GUIDE2'" class="guide">
	<div layout="row" class="header">
		<h2>{{main.api.config.ready_to_start}}<br/>
		{{main.api.config.how_to}}</h2>
		<span flex></span>
		<div class="indicator active">1</div>
		<div class="indicator">2</div>
	</div>
	<div layout="row" layout-align="center center">
		<div flex="20" layout="column">
			<iframe flex src="images/step01_step_ticket.svg" code="boarding.player.code"></iframe>
		</div>
		<div flex></div>
		<div flex="20" layout="column">
			<iframe flex src="images/step02_phone_ringing.svg"></iframe>
		</div>
		<div flex></div>
		<div flex="20" layout="column">
			<iframe flex src="images/step03_ticket.svg" code="boarding.player.code"></iframe>
		</div>
		<div flex></div>
		<div flex="20" layout="column">
			<iframe flex src="images/step04_dial.svg"></iframe>
		</div>
	</div>
	<div layout="row" layout-align="begin center">
		<div flex="20">
			<p>{{main.api.config.signup_take_ticket}}</p>
		</div>
		<div flex></div>
		<div flex="20">
			<p>{{main.api.config.take_phone}}</p>
		</div>
		<div flex></div>
		<div flex="40" layout="column">
			<p>{{main.api.config.input_code}}</p>
		</div>
	</div>
</div>
<div ng-show="boarding.state == 'GUIDE2'" flex ng-click="boarding.print()" class="guide">
	<div layout="row" class="header" flex>
		<h2>{{main.api.config.ready_to_start}}<br/>
		{{main.api.config.how_to}}</h2>
		<span flex></span>
		<div class="indicator">1</div>
		<div class="indicator active">2</div>
	</div>
	<div layout="row" layout-align="center center">
		<div flex="20">
			<img src="images/step05_listen.svg">
		</div>
		<div flex></div>
		<div flex="20">
			<img src="images/step06_answer.svg">
		</div>
		<div flex></div>
		<div flex="20" layout="column">
			<img src="images/step07_hangup.svg">
		</div>
		<div flex></div>
		<div flex="20">
			<img src="images/step08_wait.svg">
		</div>
	</div>
	<div layout="row" layout-align="begin center">
		<div flex="20">
			<p>{{main.api.config.listen}}</p>
		</div>
		<div flex></div>
		<div flex="20">
			<p>{{main.api.config.answer}}</p>
		</div>
		<div flex></div>
		<div flex="40" layout="column">
			<p>{{main.api.config.repeat}}</p>
		</div>
	</div>
</div>
<div ng-show="boarding.state == 'PRINT'" class="guide-end">
	<div layout="row">
		<div flex="50" layout="column">
			<h2>{{main.api.config.goto_wheel}}</h2>
			<span flex></span>
			<h3>{{main.api.config.warn_ticket}}</h3>
			<p><md-button class="md-primary" ng-click="boarding.reset()">{{main.api.config.new_player}}</md-button></p>
		</div>
		<div flex="50">
			<img src="images/wheel.svg">
		</div>
	</div>
</div>