<div layout-padding>
	<h2 ng-bind="main.api.config.dashboard">Dashboard</h2>
	<md-card>
		<md-card-content>
			<h3 ng-bind="main.api.config.joueurs">Players</h3>
			<div layout="row" layout-align="center center">
				<div layout="column" flex="80">
					<div class="info" layout="row">
						<div flex ng-click="dashboard.detailState = 'CREATED'">
							{{dashboard.stats.CREATED}}
							<span ng-bind="main.api.config.created">CREATED</span></div>
						<div flex ng-click="dashboard.detailState = 'PRINTED'">
							{{dashboard.stats.PRINTED}}
							<span ng-bind="main.api.config.printed">PRINTED</span></div>
						<div flex ng-click="dashboard.detailState = 'PLAYING'">
							{{dashboard.stats.PLAYING}}
							<span ng-bind="main.api.config.playing">PLAYING</span></div>
						<div flex ng-click="dashboard.detailState = 'LIMIT_REACHED'">
							{{dashboard.stats.LIMIT_REACHED}}
							<span ng-bind="main.api.config.limit_reached">LIMIT_REACHED</span></div>
						<div flex ng-click="dashboard.detailState = 'WON'">
							{{dashboard.stats.WON}}
							<span ng-bind="main.api.config.won">WON</span></div>
					</div>
				</div>
			</div>
	<h4 ng-bind="main.api.config.details">Details</h4>
	<div layout="row"  layout-align="center center">
		<div layout="column" flex="80" class="table">
			<div class="header" layout="row">
				<div flex="5">#</div>
				<div flex="15" ng-bind="main.api.config.scores">Scores</div>
				<div flex="50" ng-bind="main.api.config.name">Nom</div>
				<div flex="30" ng-bind="main.api.config.languages">Langues</div>
			</div>
			<div class="row" ng-repeat="p in dashboard.displayPlayers(dashboard.detailState) | orderBy: ['-id'] track by p.id" layout="row">
				<div flex="5">{{$index + 1}}</div>
				<div flex="15" class="text-right">{{p.score * 100}}</div>
				<div flex="50">{{p.name}}</div>
				<div flex="30"><span ng-repeat="l in p.languages">{{l.code}}:{{l.correct}}&nbsp;</span></div>
			</div>
		</div>
	</div>

	<h3 ng-bind="main.api.config.phones">Phones</h3>
	<ul>
		<li ng-repeat="p in dashboard.api.phones | orderBy: p.number">{{p.number}} {{p.state}} {{p.player.name}} : {{p.flag}} : {{p.correct}}</li>
	</ul>

	<div class="controls">
		<h3 ng-bind="main.api.config.control">Control</h3>
		<md-button class="md-raised md-primary" ng-click="dashboard.api.startGame()">START</md-button>
		<md-button class="md-raised md-warn" ng-click="dashboard.api.stopGame()">STOP</md-button>
		<md-button class="md-raised md-accent" ng-click="dashboard.api.sendRefresh()">REFRESH SCREEN</md-button>
	</div>

	<div class="controls">
		<h3 ng-bind="main.api.config.debug">Debug</h3>
		<div layout="row">
			<md-input-container>
				<input placeholder="Player ID" ng-model="scanCode">
			</md-input-container>
			<md-button class="md-raised md-primary" ng-click="dashboard.api.sendScan( scanCode )"  ng-bind="main.api.config.scan">SCAN</md-button>
			<md-input-container>
				<input placeholder="Phone number" ng-model="phoneNumber">
			</md-input-container>
			<md-button class="md-raised md-primary" ng-click="dashboard.api.call( phoneNumber )">CALL</md-button>

			<md-button class="md-raised md-warn" ng-click="dashboard.api.sendBumper()" ng-bind="main.api.config.bumper">BUMPER</md-button>
		</div>
	</div>
		</md-card-content>
	</md-card>
</div>