<div style="width: 80%; margin: 40px auto;">
	<md-card>
		<md-card-content>
			<h2 class="md-title" ng-bind="main.api.config.mode">Mode</h2>
			<md-button class="md-raised md-primary keyboard-focus" ng-click="main.setMode('boarding')" ng-bind="main.api.config.boarding">Boarding</md-button>
			<md-button class="md-raised md-primary keyboard-focus" ng-click="main.setMode('wheel')" ng-bind="main.api.config.wheel">Wheel</md-button>
			<md-button class="md-raised md-primary keyboard-focus" ng-click="main.setMode('scores')" ng-bind="main.api.config.scores">Scores</md-button>
		</md-card-content>
	</md-card>
	<form ng-submit="main.login()">
	<md-card>
		<md-card-content>
			<h2 class="md-title" ng-bind="main.api.config.dashboard">Dashboard</h2>
			<md-input-container>
				<label ng-bind="main.api.config.username">Username</label>
				<input ng-model="main.user.username">
			</md-input-container>
			<md-input-container>
				<label ng-bind="main.api.config.password">Password</label>
				<input ng-model="main.user.password" type="password">
			</md-input-container>
		</md-card-content>
		<md-card-actions layout="row" layout-align="end center">
			<md-button type="submit" class="md-primary" ng-bind="main.api.config.login">Login</md-button>
		</md-card-actions>
	</md-card>
	</form>
</div>