<div layout="row"  flex layout-align="center start" id="scoreboard" class="background-linus">
	<div flex></div>
	<div layout="column" flex="70" class="table">
		<div class="header" layout="row">
			<div flex="15" ng-bind="main.api.config.scores">Scores</div>
			<div flex="30" ng-bind="main.api.config.name">Nom</div>
			<div flex="55" ng-bind="main.api.config.languages">Langues</div>
		</div>
		<div class="row" ng-repeat="p in scores.api.scores | orderBy: ['-limit_time'] track by p.id" layout="row">
			<div flex="15" class="text-right">{{p.score * 100}}</div>
			<div flex="30">{{p.name}}</div>
			<div flex="55">
				<span ng-repeat="answer in p.languages" class="flag">
					<span ng-class="{'correct': answer.correct, 'wrong': answer.correct==0, 'unknown': answer.correct==null}"></span>
					<img ng-src="images/flags/{{answer.lang}}.png">
				</span>
			</div>
		</div>
	</div>
</div>