<div layout="row"  layout-align="center center">
	<div layout="column" flex="80" class="table">
		<div class="header" layout="row">
			<div flex="5">#</div>
			<div flex="15">Scores</div>
			<div flex="50">Nom</div>
			<div flex="30">Langues</div>
		</div>
		<div class="row" ng-repeat="p in scores.api.scores | orderBy: ['-score', '-scan_time'] track by p.id" layout="row">
			<div flex="5">{{$index + 1}}</div>
			<div flex="15" class="text-right">{{p.score * 100}}</div>
			<div flex="50">{{p.name}}</div>
			<div flex="30">{{p.languages}}</div>
		</div>
	</div>
</div>