<div layout="row"  flex layout-align="center start" id="scoreboard" class="background-linus">
	<div flex="30" hide-md></div>
	<div layout="column" class="table" flex>
		<div class="header" layout="row">
			<div flex="15" ng-bind="main.api.config.scores">Scores</div>
			<div flex="30" ng-bind="main.api.config.name">Nom</div>
			<div flex="55" ng-bind="main.api.config.languages">Langues</div>
		</div>
		<div class="row" ng-repeat="p in scores.api.scores track by p.id" layout="row">
			<div flex="15" class="text-right">{{p.score}}</div>
			<div flex="30">{{p.name}}</div>
			<div flex="55">
				<flag ng-repeat="answer in p.languages track by $index" answer="answer"></flag>
			</div>
		</div>
	</div>
</div>