<div layout-align="center center" layout="column" flex class="wheel" ng-class="{'wheel-background': wheel.wheel.player.state == 'SCANNED_WHEEL'}">
	<div ng-show="wheel.wheel.player.state == 'PLAYING' || wheel.wheel.player.state == 'PRINTED'">
		<h2 class="won">{{wheel.wheel.player.name}} {{main.api.config.msg_playing}}</h2>
	</div>
	<div ng-show="wheel.wheel.player.state == 'WON'">
		<h2>{{wheel.wheel.player.name}} {{main.api.config.msg_already_won}}</h2>
	</div>
	<div ng-show="wheel.wheel.player.state == 'SCANNED_PEN'">
		<h2>{{wheel.wheel.player.name}} {{main.api.config.msg_with_your}} {{wheel.wheel.player.score}} {{main.api.config.msg_points}}.<br>
		{{main.api.config.msg_won_pen}} {{wheel.wheel.player.prize.name}}:</h2>
		<p style="text-align:center;"><img ng-src="{{wheel.wheel.player.prize.src}}" /></p>
	</div>
	<div ng-show="wheel.wheel.player.state == 'SCANNED_WHEEL'" layout="column">
	<h2 ng-hide="wheel.wheel.player.id < 0">{{wheel.wheel.player.name}}  {{main.api.config.msg_with_your}} {{wheel.wheel.player.score}} {{main.api.config.msg_points}}.</h2>
	<h2>{{main.api.config.msg_turn_wheel}}</h2>

	<div style="text-align: center;">
		<wheel control="wheel.wheel"></wheel>
		<h2 ng-show="wheel.wheel.won" class="won fadein">{{main.api.config.msg_won_wheel}}<br/>
		{{wheel.wheel.won.name}}</h2>
	</div>
		<div>
			<h3>debug</h3>
			{{wheel.wheel.isSpinning()}}

			<input type="number" ng-model="win.prize">
			<md-button ng-click="wheel.wheel.spin(win)">SPIN</md-button>
			<md-button ng-click="wheel.testWheelItemChange()">test wheel change</md-button>
		</div>
	</div>
</div>
